.BaseClass <span class="Identifier">&lt;|-</span> Meeting
.BaseClass <span class="Identifier">&lt;|--</span> Person
.Comment { color: #00ffff; }
.Constant { color: #ff40ff; }
.Directory { color: #afffff; }
.Identifier { color: #00ffff; font-weight: bold; }
.MoreMsg { color: #87ffaf; }
.PreProc { color: #5fd7ff; }
.Special { color: #ffd7d7; }
.Statement { color: #ffff00; }
.Type { color: #87ffaf; }
.WarningMsg { color: #ffd7d7; }
